/*==== RESET =======================================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Isso garante que o preenchimento e a borda sejam incluídos na largura e altura totais dos elementos. */
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/*==== VARIABLES =======================================*/
:root {
    --header-height: 4em;

    /* colors */
    --hue: 356;
    
    /* HSL color mode */
    --base-color: hsl(var(--hue), 100%, 42%);
    --base-color-second: hsl(calc(var(--hue) - 5), 100%, 42%);

    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;

    --title-font: 'Roboto', sans-serif;
}

/*==== BASE =======================================*/
html {
    scroll-behavior: smooth;
}

body {
    font: 400 1em var(--title-font);
    color: black;
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 500 var(--title-font-size) var(--title-font);
    /* color: var(--base-color); */
    color: black;
    -webkit-font-smoothing: antialiased;
}

.button {
    align-items: center;
    background-color: var(--base-color);
    border-radius: .8em;
    color: white;
    display: inline-flex;
    font: 400 1.5em var(--title-font);
    height: 2.5em;
    padding: 1.5em 4em;
    justify-content: center;
    transition: background 0.3s;
}

.button:hover {
    background-color: var(--base-color-second);
    color: black;
}

/*==== LAYOUT =======================================*/
.container {
    margin-right: 2em;
    margin-left: 2em;
}

.grid {
    display: grid;
    gap: 2em;
}

/* section {
    padding: var(--header-height) 0;
} */

section .title {
    margin-bottom: .8em;
}

#header {
    margin-bottom: 4em;
    width: 100%;
}

/*==== LOGO =======================================*/
.logo {
    font: 700 3.8em var(--title-font);
    font-style: italic;
    color: var(--base-color);
}

.logo span {
    color: black;
}

.logo-alt span {
    color: white;
}

/*==== NAVIGATION =======================================*/
nav div a.logo {
    top: 2em;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: .5em;

}
nav .menu ul {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 2em;
    /* align-items: center;
    align-content: center; */
}

nav .menu ul li {
    margin: 0 auto;
}

nav .menu ul li:last-child { /*esconder o ultimo botão*/
    opacity: 0;
    display: none;
    visibility: hidden;
}

/*==== HOME =======================================*/
#home {
    overflow: hidden;
}

#home .container {
    margin: 0;
    margin-bottom: calc(var(--header-height) + 13em);
}

#home .image {
    margin-right: 4.5em;
    margin-left: 3.5em;
    margin-bottom: 2em;
}

#home .text {
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
}

#home .text p {
    font: 700 1.5em var(--title-font);
    margin-left: -1em;
}

#home .text h2 {
    font: 700 3.6em var(--title-font);
    color: var(--base-color);
}

/*==== SERVICES =======================================*/
#services .container {
    margin: 0;
    margin-bottom: calc(var(--header-height) + 13em);
}

#services .image {
    margin-right: 6.5em;
    margin-left: 6em;
    margin-bottom: 1em;
}

.cards.grid .card {
    gap: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
}

.card i {
    display: inline-flex;
    margin-right: 1.5em;
    background: var(--base-color);
    color: white;
    padding: .3em;
    border-radius: 1em;
}

.card .title {
    font: 500 1.5em var(--title-font);
    color: black;
}