/*==== RESET =======================================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Isso garante que o preenchimento e a borda sejam incluídos na largura e altura totais dos elementos. */
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/*==== VARIABLES =======================================*/
:root {
    --header-height: 4em;

    /* colors */
    --hue: 356;
    
    /* HSL color mode */
    --base-color: hsl(var(--hue), 100%, 42%);
    --base-color-second: hsl(calc(var(--hue) - 5), 100%, 42%);

    /* fonts */
    --title-font-size: 1.5em;
    --subtitle-font-size: 1em;

    --title-font: 'Roboto', sans-serif;
}

/*==== BASE =======================================*/
html {
    scroll-behavior: smooth;
}

body {
    font: 400 1em var(--title-font);
    color: black;
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 500 var(--title-font-size) var(--title-font);
    /* color: var(--base-color); */
    color: black;
    -webkit-font-smoothing: antialiased;
}

.button {
    align-items: center;
    background-color: var(--base-color);
    border-radius: .8em;
    color: white;
    display: inline-flex;
    font: 400 1.5em var(--title-font);
    height: 2.5em;
    padding: 1.5em 4em;
    justify-content: center;
    transition: background 0.3s;
}

.button:hover {
    background-color: var(--base-color-second);
    color: black;
}

/*==== LAYOUT =======================================*/
.container {
    margin-right: 2em;
    margin-left: 2em;
}

.grid {
    display: grid;
    gap: 2em;
}

/* section {
    padding: var(--header-height) 0;
} */

section .title {
    margin-bottom: .8em;
}

#header {
    margin-bottom: 4em;
    display: flex;
    width: 100%;
}

/*==== LOGO =======================================*/
.logo {
    font: 700 3.8em var(--title-font);
    font-style: italic;
    color: var(--base-color);
}

.logo span {
    color: black;
}

.logo-alt {
    font: 600 3.8em var(--title-font);
    font-style: italic;
    color: white;
}

.logo-alt span {
    color: white;
}

/*==== NAVIGATION =======================================*/
nav a.logo {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: .5em;
}

nav .menu ul {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 2em;
    margin: 0 3.5em;
    
    /* align-items: center;
    align-content: center; */
}

nav .menu ul li {
    margin: 0 auto;
}

nav .menu ul li:last-child { /*esconder o ultimo botão*/
    opacity: 0;
    display: none;
    visibility: hidden;
}

/*==== HOME =======================================*/
#home {
    overflow: hidden;
}

#home .container {
    margin: 0;
    margin-bottom: calc(var(--header-height) + 13em);
}

#home .image {
    margin-right: 4.5em;
    margin-left: 3.5em;
    margin-bottom: 2em;
}

#home .text {
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
}

#home .text p {
    font: 700 1.5em var(--title-font);
    margin-left: -1em;
}

#home .text h2 {
    font: 700 3.6em var(--title-font);
    color: var(--base-color);
}

/*==== SERVICES =======================================*/
#services .container {
    margin: 0;
    margin-bottom: calc(var(--header-height) + 3em);
}

#services .image {
    margin-right: 6.5em;
    margin-left: 6em;
    margin-bottom: 1em;
}

.cards {
    margin-bottom: 1em;
}

.cards.grid .card {
    gap: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
}

.card i {
    display: inline-flex;
    margin-right: 1.5em;
    background: var(--base-color);
    color: white;
    padding: .3em;
    border-radius: 1em;
}

.card .title {
    font: 400 1.6em var(--title-font);
    color: black;
}

input[type="tel"] {
    background: #E1E1E1;
    border: 0 none;
    font-size: 1.3em;
    border-radius: 1em;
}

#services .tel {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

#services .tel input#phone {
    padding: 1.1em 1.3em;
    /* margin: -.6em auto; */
    /* margin-left: 3.5em; */
    margin-bottom: 1em;
}

#services .tel.grid label {
    text-align: center;
    font: 600 1.6em var(--title-font);
}

#services .tel a.button {
    padding: 1.4em 2em;
    /* margin-left: 3.5em; */
}

/*==== TESTIMONIALS =======================================*/
#testimonials .testimonial {
    background: #E1E1E1;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 100px 4fr;
    grid-auto-flow: row;
    justify-content: space-between;
    margin-bottom: 2em;
}

#testimonials .circle {
    content: '';
    width: 80px;
    height: 80px;
    border-radius: 4em;
    margin: 2em 1em 0 1.5em;
    background: var(--base-color);]
    display: flex;
}

#testimonials blockquote {
    padding: 2em;
}


#testimonials blockquote p {
    font: 500 1em var(--title-font);
    margin-bottom: 1em;
    color: black;
}

#testimonials blockquote > cite {
    font-style: normal;
    font: 500 1.8em var(--title-font);
}

#testimonials blockquote p span {
    font: 700 1em var(--title-font);
}

/*==== FOOTER =======================================*/
footer {
    background:black;
}

footer h2, p, a {
    color: white;
}

footer h2 {
    font: 500 1.8em var(--title-font);
}

footer p {
    font: 300 1.1em var(--title-font);
}

footer.section {
    padding: 4rem 0;
    padding-left: 1em;
}

footer .logo {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: -0.1em;
}

footer .brand p {
    color: white;
    text-align: center;
    font: 300 1.5em var(--title-font);
}

footer .about p {
    margin-top: -1.5em;
}

footer .contact h2 {
    margin-bottom: -0.5em;
}

footer .contact p {
    line-height: 2em;
}

footer .contact a {
    transition: 0.3s;
    text-decoration: underline;
}

footer .contact a:hover {
    color: green;
    transform: translateY(-8px);
}

footer i {
    font-size: 3em;
    color: var(--base-color);
}

footer .social .content {
    display: flex;
    justify-content: space-around;
}

footer .social a {
    transition: 0.3s;
}

footer .social a:hover {
    transform: translateY(-8px);
}

/* medium devices: 768 > */
@media (min-width: 768px) {
    /* reusable classes */
    :root {
        --title-font-size: 1.5em;
        --subtitle-font-size: 0.9em;
    }

    .container {
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
    }
    
    header a.logo {
        left: 2em;
        font: 700 2em var(--title-font);
        font-style: italic;
    }

    .section {
        padding: 5em 0;
    }
    
    .section .title {
        margin-bottom: 1em;
    }

    .button {
        height: 1em;
    }

    /* navigation */
    nav {
        height: 5em;
        font-size: 1.2em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 2em 0;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: baseline;
    }

    nav ul li a:hover {
        background:#c2bbbb;
        color: white;
        padding: 0.4em  2em;
        border-radius: 0.4em;
        transition: .3s;
    }

    nav .menu ul {
        display: inline-flexbox;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2em;
    }

    nav .menu ul li a{
        text-align: center;
    }

    nav .menu ul li a.title {
        font: 400 1rem var(--body-color);
        -webkit-font-smoothing: antialiased;
        margin-right: 1.5rem;
    }
    
    nav .menu ul li:last-child {
        opacity: 1;
        display: flex;
        visibility: visible;
    }

    nav .menu ul li a.title.active {
        font-weight: bold;
        -webkit-font-smoothing: auto;
    }

    .button {
        align-items: center;
        background-color: var(--base-color);
        border-radius: .4em;
        color: white;
        display: inline-flex;
        font: 400 1em var(--title-font);
        height: 2em;
        padding: 1em 2em;
        justify-content: center;
        transition: background 0.3s;
    }
    
    .button:hover {
        background-color: var(--base-color-second);
        color: black;
    }

    /* home*/
    #home .container {
        margin-top: -2em;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1em;
    }
    
    #home .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #home .text {
        text-align: left;
    }
    
    #home .text p {
        font: 700 1.2em var(--title-font);
        color: black;
        margin-left: .2em;
        margin-bottom: .9em;
    }
    
    #home .text h2 {
        font: 700 3em var(--title-font);
        margin-bottom: 0.5em;
        color: var(--base-color);
    }

    /* buttom */
    #home .text a.button {
        padding: 1.2em 2.5em;
    }

    /* SERVICES */
    #services .container {
        margin-right: auto;
        margin-left: auto;
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    #services .image {
        position: absolute;
        right: -4em;
        width: 50%;
        
    }

    #services .cards {
        position: absolute;
        top: 20%;
        left: 0;
        width: 50%;
    }
    
    #services .tel {
        bottom: 4em;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        position: absolute;
        text-align: left;
        width: 100%;
    }

    .card .title {
        font: 400 1.2em var(--title-font);
        margin-bottom: -.2em;
        margin-left: -4em;
        color: black;
    }

    input[type="tel"] {
        background: #E1E1E1;
        border: 0 none;
        font-size: 1em;
        border-radius: 1em;
    }

    #services .tel.grid label {
        text-align: left;
        margin-left: 2.5em;
        font: 600 1.4em var(--title-font);
    }
    
    #services .tel input#phone {
        padding: 1.1em 1.3em;
        margin-left: 3.5em;
    }
    
    #services .tel a.button {
        padding: 1.7em 4em;
        /* margin-top: -4.7em; */
        margin-left: 0.5em;
        border-radius: 1em;
    }

    /* TESTIMONIALS */
    /* #textimonials .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } */
}